
<h1> Welcome to Scrabble Score</h1>
<form action="/word">
  <div class="form-group">
     <label for="title">What is your scrabble word worth??
</label>
     <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
